.container{
    height:100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
}

.inactive_alarms{
    gap: 20px;
}

.active_alarms{
    border: 1px solid grey;
    border-radius: 15px;
    background-color: lightgray;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}
.active_header{
    display: flex;
    justify-content: end;
    align-items: center;
    color: grey;

    padding: 10px;
}

.header h2{
    margin: 0;
}