.container{
    height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    max-width: 900px;
    margin: auto;
}
.main{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    gap: 10px;

}

.clock_section{
    min-width: 300px;
    padding-top: 30px;
    border-right: 1px solid lightgrey;
}

.alarm_section{
    min-height: 300px;

    flex-grow: 1;
}

@media screen and (max-width: 768px){
    .main{
        flex-direction: column;
    }

    .clock_section{
        border-right: none;
    }
}
