@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Alarm Clock";
  src: url(./assets/fonts/alarm_clock.ttf);
}

body {
  margin: 0;
  background-color: #E0E0E0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
