
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.date{
    font-size: 2em;
    font-weight: bold;
    font-family: "Alarm Clock";
}
.clock{
    padding: 5px;
}
.time{
    font-size: 3em;
    font-weight: bold;
    font-family: "Alarm Clock";
}